body {
  background: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}


.slider-wrapper {
  position: relative;
}


.slider  {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 30px; 
  transition: transform 0.5s ease;  
}


.slide {
  padding: 10px 
}

.slider-container {
  display: flex;
  max-width: 500px;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: rgb(164, 221, 237);
  padding: 50px;
  max-height: 200px; 
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
  rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
}

.slider-img {
  max-width: 120%; 
}

.slider-content-header {
  color: rgb(205, 160, 47);
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 5px;
}


.slider-content-text{
  color: #907b7b;
  line-height: 1.9;
  letter-spacing: 0.5px;
  font-size: 15px;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
}


.dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
  rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
}

.dot.active {
  background-color: #a73333;
}


.slider__btn {
  position: absolute;
  top: 45%;
  z-index: 10;
  border: none;
  background: rgba(244, 244, 244, 0.998);
  font-family: inherit;
  color: #a73333;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  font-size: 0.8rem;
  cursor: pointer;
  transform: translateY(-50%);
  opacity: 0.7;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
  rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
}

.slider__btn--left {
  left: 5%; 
}

.slider__btn--right {
  right: 5%; 
}


@media  (max-width: 541px) {

  .slider-content-header {
     display: none;
   }
 
   .slider-content-text {
     display: none;
   } 
 
   .slider-img {
     max-width: 80%;
   }
   
 }